body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #303130;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
  font-color: #303130;
}

header nav {
  display: flex;
  justify-content: flex-end;
  font-color: #303130;
}

header p {
  padding: 0 20px;
  margin: 0;
  font-color: #303130;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://nullfuse.github.io/BrianChen/assets/color%20303130.png');
  background-size: cover;
  color: #ffffff;
  height: 775px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.col-md-6 {
  margin: 0 0 30px;
}


.btn.btn-primary {
  border-radius: 0px;
  border: 3px solid white;
  color: white;
  font-size: 30px;
  text-shadow: none;
  background-color: transparent;
  width: 190px;
  height: 62px;
}

.btn.btn-primary:hover {
  border-color: rgb(26, 188, 156);
  background-color: transparent;
}

.btn.btn-primary:active {
  border-color: rgb(26, 188, 156);
  background-color: transparent;
  color: rgb(26, 188, 156);
}

.btn.btn-primary:focus {
  border-color: rgb(26, 188, 156);
  background-color: transparent;
  color: rgb(26, 188, 156);
}

.btn.btn-primary:visited {
  border-color: rgb(26, 188, 156);
  background-color: #303130;
  color: rgb(26, 188, 156);
}

.btn-secondary {
  border: rgb(26, 188, 156);
  background-color: rgb(26, 188, 156);
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
  font-color: #303130;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
  font-color: #303130;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
